@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");

* {
  font-family: "Sora", sans-serif;
}

.App {
  background: url("./images/justice.jpeg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100%;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.089);
}

::-webkit-scrollbar-thumb {
  background: rgb(104, 104, 104);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(59, 59, 59);
  border-radius: 5px;
}

.centered {
  position: fixed;
  top: 45%;
  left: 47%;
  transform: translate(-50%, -50%);
}
